/* NEXT TO DO: Add in boxes for numbers/operators */
body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 70vh;
    width: 80vw;
    margin: 2em auto;
    background-color: honeydew;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: auto;
    height: fill;
    flex: 1 1 auto;
    width: 0;
    justify-content: center;
    align-items: stretch;
    background-color: darkkhaki;
    border-radius: 10px;
    flex-direction: column;
    box-sizing: border-box;
}

.display {
    flex: 2 1 0;
    /* width: auto; */
    border: 2px solid black;
    background-color: lightslategrey;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow:hidden;
    white-space: nowrap;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
}

.text {
    font-size: 10vh;
    text-align: center;
    padding-right: 0.2em;
    box-sizing: border-box;
    padding-top: 0.2em;
}

.row {
    flex: 1 1 0;
    /* border: 2px solid red; */
    display: flex;
    box-sizing: border-box;

}

.row.first {
    background-color: grey;
    flex: 1 1 0;
    box-sizing: border-box;
}

.box {
    flex: 1 1 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

.row .box:last-child {
    background-color: orange;
    box-sizing: border-box;
}

.right .box:last-child {
    border-bottom-right-radius: 10px;
}

#zero {
    background-color: darkkhaki;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
}

.left,
.right {
    display: flex;
    flex: 1 1 0;
}

.row .left .box {
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    flex: 2 1 0;

}

button {
    text-align: center;
    font-size: 6.5vw;
    /* font-weight: bold; */
    color: snow;
    margin: 0;
    padding:0;
    background: none;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 100%;
    flex: 1 1 0;
}

.brighter {
    filter: brightness(1.5);
}
